<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vulnerable Flask Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='static\css\style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to the Vulnerable Flask Application</h1>
        </header>
        <section>
            <p>Explore the vulnerabilities:</p>
            <ul>
                <li><a href="/xss" class="btn">Cross-Site Scripting (XSS)</a></li>
                <li><a href="/user/admin" class="btn">SQL Injection</a></li>
                <li><a href="/deserialize" class="btn" target="_blank">Insecure Deserialization</a></li>
            </ul>
        </section>
    </div>
</body>
</html>
